{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DictionaryApi__BaseUrl": "https://freedictionaryapi.com/",
    "DictionaryApi__TimeoutSeconds": "20",
    "OpenAI__ApiKey": "",
    "OpenAI__ChatModel": "gpt-4o-mini",
    "YouTube__ApiKey": "",
    "YouTube__ClientId": "",
    "YouTube__ClientSecret": "",
    "YouTube__RefreshToken": ""
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*",
    "CORSCredentials": false
  }
}
